<div class="input-panel-stack">
  <app-variable-selector
    [variable1]="variable1"
    [variable2]="variable2"
    (variable1Change)="onVariable1Change($event)"
    (variable2Change)="onVariable2Change($event)">
  </app-variable-selector>

  <app-equation-builder title="Equation 1" [variable1]="variable1" [variable2]="variable2" (equationChange)="onEquation1Change($event)"></app-equation-builder>
  <app-equation-builder title="Equation 2" [variable1]="variable1" [variable2]="variable2" (equationChange)="onEquation2Change($event)"></app-equation-builder>

  <button type="button" class="solve-btn" [disabled]="isSubmitting" (click)="saveSystem()">{{ isSubmitting ? 'Solving...' : 'Solve System' }}</button>
  <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>
</div>
